-#TODO: Use JS to show Activity/Mood tabs, validate that only one is selected

= form_with model: @occurance, local: true do |form|

  - if @occurance.errors.any?
    %h2
      = pluralize(@occurance.errors.count, "error")
      prohibited this occurance from being saved:
    %ul
      - @occurance.errors.full_messages.each do |msg|
        %li= msg

  %p
    = form.label :at
    = form.date_field :at, required: true
    -# TODO: make this more useful- maybe that clockpicker library? and add a "right now" option!

  %p
    = form.label :event_id, "Event"
    = form.select(:event_id) do
      = content_tag(:option,'select one...', value: "")
      = options_from_collection_for_select(Event.all, :id, :label)

  %p
    = form.label :severity
    = form.number_field :severity, maximum: 10, minimum: -10
    %br
    %small Severity is not required for activities.

  %p
    = form.submit


